# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/state/data/bills.json

src/state/data/pb-tenants.json
src/state/data/shops.json
src/state/data/tenants.json
.env

src/state/data/pb-tenants copy.json
src/state/data/bills copy.json
src/state/data/pb_shops.json
src/state/data/shop_with_supaid.json
src/state/data/full_supa_bills.json
src/state/pb_data
